{% extends "base.html" %}
{% block content %}

<div class="container py-4">
  <div class="card shadow-sm mx-auto" style="max-width: 520px;">
    <div class="card-body">

      <h4 class="mb-3">Edit Address</h4>

      <form method="POST">
        {% csrf_token %}

        <input class="form-control mb-2" name="full_name" value="{{ address.full_name }}">
        <input class="form-control mb-2" name="phone_number" value="{{ address.phone_number }}">
        <input class="form-control mb-2" name="address_line1" value="{{ address.address_line1 }}">
        <input class="form-control mb-2" name="address_line2" value="{{ address.address_line2 }}">
        <input class="form-control mb-2" name="city" value="{{ address.city }}">
        <input class="form-control mb-2" name="state" value="{{ address.state }}">
        <input class="form-control mb-3" name="pincode" value="{{ address.pincode }}">

        <button class="btn btn-success w-100">Update Address</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
